<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
<div class="container" id="app">
    <div class="card">
        <h1
            :style="{
                color: inputValue.length < 7 ? 'darkblue' : 'darkred',
                fontSize: inputValue.length < 8 ? '1.5rem' : '2rem',
            }">
            {{ title }}
        </h1>
        <div class="form-control">
            <input
                    type="text"
                    :placeholder="placeholderMy"
                    v-model="inputValue"
                    @keypress.enter="addNewNote"
            />
            <!--  v-model="inputValue" заменяет :value="inputValue" и @input="inputChangeHandler"
            и сама вяжет ипут с переменной -->
            <!--  у события  v-on:keypress есть уточнение, например .enter -->
            <!-- v-bind:value="inputValue" sugar is - :value="inputValue" -->
            <!-- v-on:input="inputChangeHandler" sugar is - @input="inputChangeHandler" -->
        </div>
        <button class="btn" @click="addNewNote">Add</button>
        <hr>
        <ul class="list" v-if="notes.length !== 0">
            <!-- аналог, v-for="myNote of notes" вместо in ставим for и без скобок без индекса-->
            <li class="list-item" v-for="(noteElement, idx) in notes">
                <!-- это первый способ добавления класса  css
                <span :class="noteElement.length > 5 ? 'primary' : 'bold'">({{ idx + 1 }})&nbsp;{{ toUpperCase(noteElement) }}</span>

                это второй способ добавления класса css
                <span :class="{
                    'primary': true, // будет добавлен всегда
                    'bold': noteElement.length < 5
                }">({{ idx + 1 }})&nbsp;{{ toUpperCase(noteElement) }}</span>

                третий способ передать массив  в котором или только класс или класс и условие
                -->
                <span :class="['bold',{'primary' : noteElement.length > 5}]">
                    ({{ idx + 1 }})&nbsp;{{ toUpperCase(noteElement) }}
                </span>
                <!-- здесь еще и браузерное событие можем передать $event @click="removeNote(idx, $event) -->
                <button class="btn danger" @click="removeNote(idx)">Delete</button>
            </li>
            <li>
                <strong>Общее количество: {{ notes.length }}</strong> | Удвоенное: {{ doubleCountComputed }}
            </li>
        </ul>
        <div v-else-if="notes.length === 1"> Added a new!</div>
        <div v-else> Note list is empty. Add new!</div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>